<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CVJoy.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <CVJoy.My.MySettings>
            <setting name="ComPort" serializeAs="String">
                <value>COM3</value>
            </setting>
            <setting name="RefreshRate" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="MaxPitch" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxRoll" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PitchPowerForMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PitchPowerForMax" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RollPowerForMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RollPowerForMax" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ACRpm1" serializeAs="String">
                <value>0.4</value>
            </setting>
            <setting name="ACRpm2" serializeAs="String">
                <value>0.64</value>
            </setting>
            <setting name="ACMaxSpeed" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="ACSlip" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ACPitch" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ACRoll" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ACAccel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ACTurn" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="vJoyId" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PitchHysteria" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="RollHysteria" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="PitchOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RollOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GyroMaxDegreesPerTimerClick" serializeAs="String">
                <value>0.9</value>
            </setting>
            <setting name="AccelMin" serializeAs="String">
                <value>290</value>
            </setting>
            <setting name="AccelMax" serializeAs="String">
                <value>850</value>
            </setting>
            <setting name="BrakeMin" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="BrakeMax" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="ClutchMin" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="ClutchMax" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="MouseSteering" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WheelDampFactor" serializeAs="String">
                <value>780</value>
            </setting>
            <setting name="WheelSensitivity" serializeAs="String">
                <value>8.75</value>
            </setting>
            <setting name="WheelDead" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="Edited" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WheelPowerGama" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="WheelPowerForMin" serializeAs="String">
                <value>110</value>
            </setting>
            <setting name="WheelPowerFactor" serializeAs="String">
                <value>1.1</value>
            </setting>
            <setting name="WheelFriction" serializeAs="String">
                <value>5500</value>
            </setting>
            <setting name="WheelInertia" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="SpeedGama" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="ACJump" serializeAs="String">
                <value>1.8</value>
            </setting>
            <setting name="SpeedMin" serializeAs="String">
                <value>23</value>
            </setting>
        </CVJoy.My.MySettings>
    </userSettings>
</configuration>
